$menu: rgba(3, 0, 21, 0.807);
$slide1: rgb(3, 0, 21);
$slide2: rgb(78, 8, 163);
$slide3: #fff;
$font: monospace;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

html,
body {
    position: relative;
    height: 100%;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 10vh;
    background: $menu;

    nav {
        width: 40%;
        height: 100%;
        margin: 0 auto;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                content: " ";
                position: absolute;
                width: 30%;
                height: 35%;
                left: 65%;
                background: rgb(3, 0, 21);
                opacity: 0;
                animation: menu 2s ease-out;
            }

            @keyframes menu {
                0% {
                    left: 35%;
                    opacity: 1;
                }

                99% {
                    opacity: 1;
                }

                100% {
                    left: 65%;
                    opacity: 0;
                }
            }

            li {
                list-style: none;
                text-align: center;
                padding: 0 1.5vw;

                a {
                    text-decoration: none;
                    color: rgb(230, 230, 230);
                    text-transform: uppercase;
                    font-size: 1vw;
                    font-weight: 600;
                    letter-spacing: .05vw;
                    transition: .5s ease;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.swiper-container {
    width: 100%;
    height: 100%;

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        .s {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            .container {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80%;
                height: 80%;

                .img {
                    width: 70%;
                    height: 70%;
                    background: rgb(21, 12, 33);
                    margin: 0 5%;
                }

                .text {
                    width: 40%;
                    height: 70%;
                    background: rgb(213, 213, 213);
                    margin: 0 5%;
                }
            }
        }

        .s1 {
            background: $slide1;


        }

        .s2 {
            background: $slide2;
        }

        .s3 {
            background: $slide3;
        }
    }

    .swiper-pagination-progressbar.swiper-pagination-vertical,
    .swiper-vertical>.swiper-pagination-progressbar {
        height: 40%;
        top: 30%;
        left: 98%;
    }
}